<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tool="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dell.quizbox">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SInglePlayerActivity"
            android:label="@string/title_activity_single_player"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dell.quizbox.MainActivity" />
        </activity>
        <activity
            android:name=".Multiplayer"
            android:label="@string/title_activity_multiplayer"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dell.quizbox.MainActivity" />
        </activity>
        <activity
            android:name=".UserWindow"
            android:label="@string/title_activity_user_window"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dell.quizbox.MainActivity" />
        </activity>
        <activity
            android:name=".mcq"
            android:label="@string/title_activity_mcq"
            android:parentActivityName=".SInglePlayerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dell.quizbox.SInglePlayerActivity" />
        </activity>
        <activity
            android:name=".MCQ2"
            android:label="@string/title_activity_mcq2"
            android:parentActivityName=".UserWindow"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dell.quizbox.UserWindow" />
        </activity>
        <activity
            android:name=".MCQ3"
            android:label="@string/title_activity_mcq3"
            android:parentActivityName=".UserWindow"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dell.quizbox.UserWindow" />
        </activity>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1471395702923910"
            android:exported="true" />

    </application>

</manifest>